.work_image_container {
    margin: 0.5rem 0.5rem;
}

.work_image_container img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .work_image_container {
        margin: 0.5rem 0rem;
    }
}