html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* border: 1px solid green; */
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

:root {
  --green: #10664F;
}

.width {
  max-width: 1300px;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8rem;
}

.info-main {
  position: relative;
  background-color: #FFFFFF;
}

.work-main {
  position: relative;
  background-color: #F9F8F8;

}

.cta-main {
  position: relative;
  background-color: #FFFFFF;

}

.footer-main {
  position: relative;
  background-color: #FFFFFF;
}

.lockscreen {
  overflow: hidden;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-Regular-Trial.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-RegularItalic-Trial.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-Medium-Trial.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-MediumItalic-Trial.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-Semibold-Trial.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-SemiboldItalic-Trial.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-Bold-Trial.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url('../assets/fonts/graphik/Graphik-BoldItalic-Trial.otf');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "Recoleta";
  src: url('../assets/fonts/recoleta/Recoleta-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url('../assets/fonts/recoleta/Recoleta-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url('../assets/fonts/recoleta/Recoleta-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url('../assets/fonts/recoleta/Recoleta-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


/* Only for Work Pages */
.work_page_container {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
  width: 100%;
  flex-direction: column;
}

.work_hero_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.work_hero_image {
 width: 560px;
}

.work_hero_text {
  width: 700px;
}
.work_hero_text h4 {
  font-family: 'Recoleta';
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.work_hero_text p {
  font-family: 'Graphik';
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    margin-top: 1rem;
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {
    
  .work_hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .work_hero_text {
    width: 100%;
    margin-bottom: 2rem;
  }

  .work_hero_image {
    width: 100%;
   }
  



}

@media only screen and (max-width: 768px) {
  .work_hero_text h4 {
    font-size: 32px;
    line-height: 130%;
}

.work_hero_text p {
  font-size: 18px;
    line-height: 140%;
}
}

@media only screen and (max-width: 412px) {}



@media only screen and (max-width: 1024px) {
  section {
    padding: 0 24px;
  }
}